@model CartModel
@{
    ViewData["Title"] = "Корзина";
}

<h1 class="text-center text-dark">Корзина</h1>
@if (ViewBag.cart != null)
{
    @foreach (var item in ViewBag.cart)
    {
    <p>
        <div class="active text-dark">
            <div >Название: @item.Phone.Name</div>
            <div >Описание: @item.Phone.Description</div>
            <div >Стоимость: @item.Phone.Price</div>
            <div >Количество: @item.Quantity</div>
            <div >Общая стоимость: @(item.Quantity * item.Phone.Price)</div>

        </div>
        
    </p>
    
    }
    <div>Суммарная стоимость @Model.TotalPrice</div>
    <div>Количество @Model.Count</div>
    <button class="btn btn-dark">Купить</button>
}
